In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import sem
import numpy as np
from scipy.stats import linregress

In [2]:
# Bike data files
Dec_18 = "Resource/JC-201812-citibike-tripdata.csv"
Jan = "Resource/JC-201901-citibike-tripdata.csv"
Feb = "Resource/JC-201902-citibike-tripdata.csv"
Mar = "Resource/JC-201903-citibike-tripdata.csv"
Apr = "Resource/JC-201904-citibike-tripdata.csv"
May = "Resource/JC-201905-citibike-tripdata.csv"
Jun = "Resource/JC-201906-citibike-tripdata.csv"
Jul = "Resource/JC-201907-citibike-tripdata.csv"
Agu = "Resource/JC-201908-citibike-tripdata.csv"
Sep = "Resource/JC-201909-citibike-tripdata.csv"
Oct = "Resource/JC-201910-citibike-tripdata.csv"
Nov = "Resource/JC-201911-citibike-tripdata.csv"
Dec = "Resource/JC-201912-citibike-tripdata.csv"
# Read the mouse data and the study results
Dec_18_df = pd.read_csv(Dec_18)
Jan_df = pd.read_csv(Jan)
Feb_df = pd.read_csv(Feb)
Mar_df = pd.read_csv(Mar)
Apr_df = pd.read_csv(Apr)
May_df = pd.read_csv(May)
Jun_df = pd.read_csv(Jun)
Jul_df = pd.read_csv(Jul)
Agu_df = pd.read_csv(Agu)
Sep_df = pd.read_csv(Sep)
Oct_df = pd.read_csv(Oct)
Nov_df = pd.read_csv(Nov)
Dec_df = pd.read_csv(Dec)
Jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [3]:
bikes=[Jan_df,Feb_df,Mar_df,Apr_df,May_df,Jun_df,Jul_df,Agu_df,Sep_df,Oct_df,Nov_df,Dec_df]
bikes_df=pd.concat(bikes, ignore_index=True)

In [4]:
bikes_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
bikes_df.count()

tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64

In [6]:
bikes_df.to_csv("bikes_df.csv")